body
{
    background-image:url(../img/backgruond.png);
}
	

h1 {
    padding-top:4em;
    margin-right:25px;
    color:#8096AA;
}



#contant
{
	float:left;
	width:145px;
	height:132px;
	margin-top:66px;
	margin-left:-20px;
	background-image:url(../img/logo_04.png);
	repeat:no-repeat bottomright;
}



