body
{
    background-image:url(../img/backgruond.png);
}
	

h1 {
    padding-top:4em;
    margin-right:20px;
}



#contant
{
	float:left;
	width:100px;
	height:100px;
	margin-top:105px;
	margin-left:0px;
	background-image:url(../img/logo_03.png);
	repeat:no-repeat bottomright;
}